@model CategoryViewModel


<div class="container body-content">
    <div class="row post-header">
        @Html.ActionLink("Back to Forum", "Index", "Category")
    </div>
    <div class="row post-index-content">
        <div class="col-md-4">
            <form asp-action="AddCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label><br/>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label><br/>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-submit" />
                </div>
            </form>
        </div>
    </div>

</div>


