@model IEnumerable<ForumViewModels.ViewModels.CategoryViewModel>



<div class="container body-content">
    <div class="row front-page-content">
        <h3 class="latest-forums">Discussions</h3>
        <table class="table table-hover" id="latest-forums">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.ImageUrl" class="forum-logo" style="width:40px; height:40px; margin-right:20px; border-radius:3px;" />
                        </td>
                        <td>
                            <div class="forum-title">
                                @Html.ActionLink(item.Title, "Category", "Category", new { id = item.Id })
                            </div>
                        </td>
                        <td>
                            <div class="forum-sub-title">
                                Threads: @item.Threads.Count()
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{

    <div class="section-heading">
        <span>
            @Html.ActionLink("Start A Discussions", "AddCategory", "Category", new { @class = "btn btn-newPost" })
        </span>
    </div>
}

