@model IEnumerable<ForumViewModels.ViewModels.CategoryViewModel>



<div class="container body-content">
    <div class="row front-page-content">
        @*<h3 class="latest-forums">Discussions</h3>*@
        <table class="table table-hover" id="latest-forums">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.ImageUrl" class="forum-logo" style="width:40px; height:40px; margin-right:20px; border-radius:3px;" />
                        </td>
                        <td>
                            <div class="forum-title">
                                @Html.ActionLink(item.Title, "Category", "Category", new { id = item.Id })
                            </div>
                        </td>
                        <td>
                            <div class="forum-sub-title">
                                Threads: @item.Threads.Count()
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{

    <div class="section-heading">
        <span>
            @Html.ActionLink("Create Categoy", "AddCategory", "Category", new { @class = "btn" }, new { @style = "background-color: #555; color: #fff;transition: ease-in 0 1s;padding:0 10px 10px 10px" })
        </span>
    </div>
}

