@using Forum.WebModels.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = "Profile";
    var messageCount = ViewData["CountOfMessages"];
    List<PrivateMessageViewModel> privateMessages = ViewBag.PrivateMessages;
    List<UserViewModel> users = ViewBag.Users;
}
<br />
<h2 class="text-center" style="font-family:Verdana; margin-left:10%">Profile page</h2>
<br />
<br />
<div class="row">
    <div class="col-sm-3">
        <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Menu</a>
        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
            <li class="active"><a href="#vtab1" data-toggle="tab">Info</a></li>
            <li><a href="#vtab2" data-toggle="tab">Edit profile</a></li>
            <li><a href="#vtab3" data-toggle="tab">Private messages</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="vtab1">
                <table style="margin-left:15%;">
                    <tbody>
                        <tr>
                            <th style="background: none"></th>
                            <td>
                                <form asp-action="UploadPhoto" asp-controller="User" method="post" enctype="multipart/form-data">
                                    <img style="width:130px; height:130px;border:1px solid white" src="@Model.Avatar" />
                                    <br />
                                    <br />
                                    <input type="file" name="photo" accept="image/*">
                                    <input type="submit">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th style="background:none; color:#df691a; font-size:1.9rem; text-align:right">Name:</th>
                            <td style="font-family:Verdana; font-size:1.9rem">&nbsp;&nbsp;@Model.FullName</td>
                        </tr>
                        <tr>
                            <th style="background:none; color:#df691a; font-size:1.9rem; text-align:right">Username:</th>
                            <td style="font-family:Verdana; font-size:1.9rem">&nbsp;&nbsp;@Model.Username</td>
                        </tr>
                        <tr>
                            <th style="background:none; color:#df691a; font-size:1.9rem; text-align:right">E-mail:</th>
                            <td style="font-family:Verdana; font-size:1.9rem">&nbsp;&nbsp;@Model.Email</td>
                        </tr>
                        <tr>
                            <th style="background:none; color:#df691a; font-size:1.9rem; text-align:right">Joined:</th>
                            <td style="font-family:Verdana; font-size:1.9rem">&nbsp;&nbsp;@Model.Joined.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th style="background:none; color:#df691a; font-size:1.9rem; text-align:right">Posts:</th>
                            <td style="font-family:Verdana; font-size:1.9rem">&nbsp;&nbsp;@Model.Posts.Count()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="vtab2">
                <h3 style="margin-left:33%">Edit Profile</h3>
                <br />
                <form class="form-group w-50 text-center" asp-action="UpdateUser" asp-controller="User" method="post">
                    <div class="form-group col-xs-5">
                        <label for="name">First name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your First Name...">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Your old password...">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="surname">Last name</label>
                        <input type="text" class="form-control" name="surname" id="surname" placeholder="Your Last Name">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Your new password...">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Your email...">
                    </div>
                    <div class="form-group col-xs-5">
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm your new password">
                    </div>
                    <div class="form-group col-xs-5" style="width:83%"><button type="submit" class="btn btn-primary">Submit</button></div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="vtab3">
                <h3 style="margin-left:29%">Private messages</h3>
                <br />
                @if (privateMessages.Count() > 0)
                {
                    <table style="margin-left:5%; width:70%">
                        <tbody>
                            @foreach (var message in privateMessages)
                            {
                                UserViewModel userCheck = users.FirstOrDefault(u => u.Username == message.From);
                                ViewData["MessageId"] = message.Id;
                                ViewData["From"] = message.From;
                                string messageId = $"#messageId{ViewData["MessageId"]}";

                                <tr>
                                    <th style="padding: 3%">From:&nbsp;@message.From</th>
                                    <th class="text-right" style="padding: 3%">Sent on:&nbsp;@message.Created</th>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background-color:#4e5d6c; color:white; padding: 3%">
                                        @message.Content
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @if (userCheck != null)
                                        {
                                            ViewData["receiverId"] = users.FirstOrDefault(u => u.Username == message.From).Id;

                                            <a style="float:right; margin:1% 0 1% 1%" class="btn btn-success btn-sm" data-toggle="modal" data-target="@messageId">Reply</a>
                                            <partial name="_ReplyToMessage" view-data="ViewData" />
                                        }
                                        <a style="float:right; margin:1% 0 1% 1%" class="btn btn-danger btn-sm" asp-action="DeleteMessage" asp-controller="Message" asp-route-id="@message.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3 style="margin-left:18%">You don't have private messages.</h3>
                }
            </div>
        </div>
    </div>
</div>
<br />