@model ForumViewModels.ViewModels.PostViewModel


<div class="container body-content">
    <div class="row post-header">
        <div class="section-description">
            @Html.ActionLink(Model.Forum.Title, "Details", "Home", new { id = Model.Forum.Id })
        </div>
    </div>
    <div class="row post-index-content ">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label><br/>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-submit" />
                </div>
            </form>
        </div>
    </div>
</div>


