
html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-image: url('https://images.pexels.com/photos/326256/pexels-photo-326256.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.body-content{
    padding-left:15px;
    padding-right:15px;

}
.navbar{
    box-shadow:0 5px 4px -6px #000;
}
.front-page-title {
    background-image: url("https://images.pexels.com/photos/53214/trekking-hiking-group-alpine-53214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.6;
}
.front-page-learn{
    padding:12px 0 0 32px;
    height:360px;
}
.front-page-heading {
    font-size: 2.6em;
    padding: 10px 0;
    margin: 16px 0;
    font-weight:bold;
}
.front-page-sub-heading{
    font-size:1.6em;
    padding:10px 0;
    font-weight:bold;
}
.homeSearch{
    width:100%;
    margin-top:8px;
    background:rgba(0,0,0,0.1);
    padding:8px;
    border:0px;
    height:1.8em;
    font-size:1.4em;
    font-weight:bold;
    transition:ease-in 0.2s;
}
.homeSearch:focus {
        border: none;
        outline: none;
        transition: ease-in 0.2s;
        color:white;
        background-color:rgba(0,0,0,0.7);
        box-shadow:0 5px 4px -6px #000;
}
.front-page-content {
    background-color: rgba(102, 100, 100,0.4);
    padding: 16px;
}
#latest-forums {
    font-size: 1.2em;
    font-weight: bolder;
    color: #262626;
    margin: 4px 0 16px 0;
    background-color: rgba(255, 255, 255,0.4);
}
.forum-title {
    font-size: 1.1em;
    font-weight: bold;
}
    .forum-title a {
        color: rgb(32,32,32);
        text-decoration: none;
    }
.forum-sub-title{
    font-size:0.8em;
}
.post-index-content {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2),0 6px 6px rgba(0,0,0,0.3);
}
.post-header {
    background-color: rgba(33,33,33,0.7);
    padding: 8px 0 24px 24px;
    color: #ddd;
}
#heading-btn{
    margin-left:20px;
}
.btn-back,
a .btn-back {
    background-color: #555;
    color: #fff;
    transition: ease-in 0 1s;
    border-radius: 0px;
}
    .btn-back:hover,
    a .btn-back:hover {
        transition: ease-in 0 1s;
        background-color: #1e88e5;
    }
.btn-new-reply {
    background-color: #61605c;
    color: #fff;
    transition: ease-in 0 1s;
    border-radius: 0px;
}
    .btn-new-reply:hover {
        background-color: #9fa8da;
        transition: ease-in 0 1s;
    }
.btn-newPost {
    background-color: #c62828;
    color: #fff;
    transition: ease-in 0 1s;
    border-radius: 0px;
}
.btn-newPost:hover {
    transition: ease-in 0 1s;
    background-color:#e53935;
    color:#fff;
}
.btn-file{
    color:white;
    width:100%;
    background-color:#4fc3f7;
    transition:ease 0.3s;

}
    .btn-file:hover {
        background-color: #039be5;
        transition: ease 0.3s;
    }
 .btn-submit {
        background-color: #00695c;
        color: #fff;
        transition: ease-in 0 1s;
        border-radius: 0px;
    }
.btn-submit:hover {
    transition: ease-in 0 1s;
    background-color: #008978;
    color: #fff;
}
#btn-profile {
    padding: 10px 60px;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    background-color: white;
    color: grey;
}
.post-author {
    padding: 12px;
    color: #444;
    width: 190px;
}
.post-title{
    font-size:1.4em;
}
.post-content-container{
    color:#222;
    padding:22px;
    border-left:1px solid #ddd;
}
.no-posts{
    text-align:center;
    padding-top:30px;

}
.user-profile {
    padding: 32px 0 64px 24px;
    background-color: rgba(255,255,255,0.7);
}
.user-email{
    display:block;
    color:#444;
    padding-top:4px
}
.user-name{
    display:block;
    color:#2569d5;
    font-size:1.7em;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
.formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
 input[type=submit]{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  input[type=submit]:hover{
        background-color: #39ace7;
    }

     input[type=submit]:active, {
        transform: scale(0.95);
    }
input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 80%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
}
    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}
#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeIn {
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
    .fadeIn.second {
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        animation-delay: 1s;
    }
