@using Microsoft.AspNetCore.Identity
@using ForumDomain;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="Logout" asp-controller="Users"  class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Users" asp-action="Profile" asp-route-username="@UserManager.GetUserName(User)"  title="Manage" class="text-info">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link text-info">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-action="Register" asp-controller="Users" class="text-info">Register</a></li>
        <li><a asp-action="Login" asp-controller="Users" class="text-info">Login</a></li>
    </ul>
}
