
html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}
h2{
    color:white;
    margin:20px;
    font-size:40px;
}
.row-register{
    margin-top:100px;
}
.register-btn{
    margin:20px;
}
.container .register {
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.control-label {
    color: white;
}
.container .login {
    height: 100vh;
    width: 100vw;
    align-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVKYYqcVh2g_JAJYLBKUz4VV0BOHzze9AhDH6JijQ4WjBNh-_K6g");
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }

.form-group{
    width:200px;
    margin:10px;
}
