
html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-image: url('https://images.pexels.com/photos/326256/pexels-photo-326256.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.front-page-title {
    background-image: url("https://images.pexels.com/photos/53214/trekking-hiking-group-alpine-53214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.6;
}
.front-page-learn{
    padding:12px 0 0 32px;
    height:360px;
}
.front-page-heading {
    font-size: 2.6em;
    padding: 10px 0;
    margin: 16px 0;
    font-weight:bold;
}
.front-page-sub-heading{
    font-size:1.6em;
    padding:10px 0;
    font-weight:bold;
}
.homeSearch{
    width:100%;
    margin-top:8px;
    background:rgba(0,0,0,0.1);
    padding:8px;
    border:0px;
    height:1.8em;
    font-size:1.4em;
    font-weight:bold;
    transition:ease-in 0.2s;
}
.homeSearch:focus {
        border: none;
        outline: none;
        transition: ease-in 0.2s;
        color:#03A9F4;
        background-color:rgba(0,0,0,0.7);
        box-shadow:0 5px 4px -6px #000;
}
.front-page-content{
    background-color:rgba(255,255,255,0.4);
    padding:16px;
}
.latest-forums{
    font-size:1.2em;
    font-weight:bold;
    color:#333;
    margin:4px 0 16px 0;
}
.forum-title {
    font-size: 1.1em;
    font-weight: bold;
}
    .forum-title a {
        color: rgb(32,32,32);
    }
.forum-sub-title{
    font-size:0.8em;
}
/*h2 {
    color: white;
    margin: 20px;
    font-size: 40px;
}
.row-register{
    margin-top:100px;
}
.register-btn{
    margin:20px;
}
.container .register {
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.control-label {
    color: white;
}
.container .login {
    height: 100vh;
    width: 100vw;
    align-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVKYYqcVh2g_JAJYLBKUz4VV0BOHzze9AhDH6JijQ4WjBNh-_K6g");
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login_btn:hover {
        color: black;
        background-color: white;
    }

.links {
    color: white;
}

    .links a {
        margin-left: 4px;
    }

.form-group{
    width:200px;
    margin:10px;
}*/
